{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block site %}Cambio de contraseña{% endblock %}

{% block site_form %}{% trans "Change Password" %}{% endblock %}
{% block form %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="site-btn login-btn">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
